# Logs
logs/
*.log

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Environment variables
.env
.env.*

# Docker
*.override.yml

# OS
.DS_Store
Thumbs.db

# Airflow (if applicable)
airflow.db
airflow.cfg
